{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>მომოხმარებლების სია</h2>
    <a href="{% url 'customer_create' %}" class="btn btn-primary mb-3">ახალი მომოხმარებელი</a>

    <table class="table table-striped ">
        <thead>
            <tr class="table align-middle">
                <th>გვარი_სახელი</th>
                <th>ტელეფონი</th>
                <th>მდებარეობა</th>
                <th>მოდელების რაოდენობა</th>
                <th>მოდელების წონა</th>
                <th>ქვების რაოდენობა</th>
                <th>ქვების წონა</th>
                <th>ღირებულება</th>
                <th>სულ თეორიული ფასი</th>
                <th>სულ რეალური ფასი</th>
                <th>მოგება</th>
                <th>გადახდილი</th>
                <th>დარჩენილი</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td><a href="{% url 'customer_details' customer.full_name %}" class="btn btn-sm btn-primary">{{ customer.full_name }}</a></td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.location }}</td>
                <td>{{ customer.models_count }}</td>
                <td>{{ customer.total_model_weight }}</td>
                <td>{{ customer.total_stone_quantity }}</td>
                <td>{{ customer.total_stone_weight }}</td>
                <td>{{ customer.total_cost }}</td>
                <td>{{ customer.total_price }}</td>
                <td>{{ customer.total_sale_price }}</td>
                <td>{{ customer.total_profit }}</td>
                <td>
                    {% if customer.location == 'გაყიდული' %}
                        {{ customer.paid }}
                    {% endif %}
                </td>
                <td>
                    {% if customer.location == 'გაყიდული' %}
                        <span style="color: {% if customer.remaining_payment < 0 %}red{% endif %}">{{ customer.remaining_payment }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}