{% extends 'base.html' %}

{% block content %}

{% load custom_tags %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                {% if form.instance.full_name %}
                    <h2> ინფორმაცია მომხმარებელზე: <span style="color: green">{{ form.instance.full_name }}</span></h2>
                {% else %}
                    <h2>{{ action }} მომხმარებელი</h2>
                {% endif %}
            </div>
            <div class="col-md-4 align-self-center mb-4">
                <button type="submit" class="btn btn-primary">{{ action }}</button>
                <a href="{% url 'customer_list' %}" class="btn btn-secondary">უკან</a>
                {% if form.instance.full_name %}
                    <a href="{% url 'customer_delete' form.instance.full_name %}" class="btn btn-danger">წაშლა</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3 row align-items-center">
                    <label for="{{ form.full_name.id_for_label }}" class="col-sm-4 col-form-label">{{ form.full_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.full_name }}
                    </div>
                </div>
                <div class="mb-3 row align-items-center">
                    <label for="{{ form.phone.id_for_label }}" class="col-sm-4 col-form-label">{{ form.phone.label }}</label>
                    <div class="col-sm-8">
                        {{ form.phone }}
                    </div>
                </div>
                <div class="mb-3 row align-items-center">
                    <label for="{{ form.table_number.id_for_label }}" class="col-sm-4 col-form-label">{{ form.table_number.label }}</label>
                    <div class="col-sm-8">
                        {{ form.table_number }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3 row align-items-center">
                    <label for="{{ form.id.id_for_label }}" class="col-sm-4 col-form-label">{{ form.id.label }}</label>
                    <div class="col-sm-8">
                        {{ form.id }}
                    </div>
                </div>
                <div class="mb-3 row align-items-center">
                    <label for="{{ form.address.id_for_label }}" class="col-sm-4 col-form-label">{{ form.address.label }}</label>
                    <div class="col-sm-8">
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="{{ form.note.id_for_label }}" class="form-label">{{ form.note.label }}</label>
                    {{ form.note }}
                </div>
            </div>
        </div>
    </div>
</form>

{#    TODO: delete if not needed #}
{% if form.instance.lot_id %}
    <a href="{% url 'lot_stone_totals' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-info">ქვების ჯამები</a>
    <a href="{% url 'transaction_create' 'ჩამოსხმა' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-warning">ჩამოსხმა</a>
    <a href="{% url 'transaction_create' 'დამუშავება' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-success">დამუშავება</a>
    <a href="{% url 'auto_salary' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-danger">AUTO ხელფასი</a>
    <a href="{% url 'transaction_create' 'პარტია' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-info">სხვა გატარება</a>
    <a href="{% url 'transaction_create' 'ინფორმაცია' form.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-light">გატარებები</a>
{% endif %}

{% if form.instance.full_name %}
    <hr style="height:2px;border-width:0;color:red;background-color:red">
    <h2>მომხმარებელი {{ form.instance.full_name }}-ის შესყიდვების სია</h2>
    <table class="table table-striped">
        <thead class="align-middle">
            <tr>
                <th>გაყიდვის თარიღი</th>
                <th>პარტიის ნომერი</th>
                <th>მოდელი</th>
                <th>წონა</th>
                <th>ლოკაცია</th>
{#                TODO: check if model_price is correct#}
                <th>მოდელის ფასი<span style="color: red">{{ purchases_totals.model_price|floatformat:2 }}</span></th>
                <th>მოგება მოდელზე<span style="color: red">{{ purchases_totals.model_profit|floatformat:2 }}</span></th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.sale_date }}</td>
                <td>
                    <a href="{% url 'lot_update' purchase.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-primary">{{ purchase.lot_id }}</a>
                </td>
                <td>
                    <a href="{% url 'lot_model_update' purchase.lot_id purchase.model_id purchase.tmstmp %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-primary">{{ purchase.model_id }}</a>
                </td>
                <td>{{ purchase.weight }}</td>
                <td>{{ purchase.location }}</td>
{#                TODO: check if model_price is correct#}
                <td>{{ purchase.model_price }}</td>
                <td>{{ purchase.model_profit }}</td>
                <td><a href="{% url 'lot_model_return' purchase.lot_id purchase.model_id purchase.tmstmp %}" class="btn btn-sm btn-warning">დაბრუნება</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}