{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    {% if lotform.instance.lot_id %}
        <h2> პარტია N <span style="color: Red">{{ lotform.instance.lot_id }}</span></h2>
    {% else %}
        <h2>{{ action }} პარტია</h2>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in lotform %}
                <div class="col-md-2 mb-2 small">
                    <label for="{{ field.id_for_label }}" class="form-label small">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ action }}</button>
        <a href="{% url 'lot_list' %}" class="btn btn-secondary">პარტიების სია</a>
        {% if lotform.instance.lot_id %}
            <a href="{% url 'lot_stone_totals' lotform.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-info">ქვების ჯამები</a>
            <a href="{% url 'transaction_create' 'ჩამოსხმა' lotform.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-warning">ჩამოსხმა</a>
            <a href="{% url 'transaction_create' 'დამუშავება' lotform.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-success">დამუშავება</a>
            <a href="{% url 'auto_salary' lotform.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-danger">AUTO ხელფასი</a>
            <a href="{% url 'transaction_create' 'ლოტის გატარება' lotform.instance.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-info">სხვა გატარება</a>

        {% endif %}
    </form>

    <hr>

    <h2>პარტია N <span style="color: Red">{{ lotform.instance.lot_id }}</span>-ში შემავალი მოდელები</h2>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>მოდელი</th>
                <th>N</th>
                <th>გაყიდული</th>
                <th>წონა</th>
                <th><center>ქვები</center></th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for lot_model in lot_models %}
            <tr>
                <td><img src="/media/{{ lot_model.image_location }}" alt="უსურათო" width="200" height="200"></td>
                <td><a href="{% url 'lot_model_update' lotform.instance.lot_id lot_model.model_id  lot_model.tmstmp %}" class="btn btn-sm btn-primary">{{ lot_model.model_id }}</a></td>
                <td>
                    {% if lot_model.sold  %}
                        <input type="checkbox" checked disabled>
                    {% else %}
                        <input type="checkbox" disabled>
                        <a href="{% url 'lot_model_sold' lotform.instance.lot_id lot_model.model_id lot_model.tmstmp 1 %}" class="btn btn-sm btn-success">გაიყიდა</a>
                    {% endif %}
                </td>
                <td>{{ lot_model.weight }}</td>
                <td>
                    <table class="table table-striped table-responsive-sm">
                        <tr>
                            <th>ქვა-ზომა</th>
                            <th>წონა</th>
                            <th>ცლ.</th>
                            <th>ღირ</th>
                            <th>ჩას</th>
                            <th>მოგ</th>
                            <th>ფასი</th>
                            <th>...</th>
                        </tr>
                        {% for stone in lot_stones %}
                            {% if stone.model_id == lot_model.model_id and stone.tmstmp == lot_model.tmstmp %}
                                <tr>
                                    <td>{{ stone.stone_full_name }}</td>
                                    <td>{{ stone.total_weight }}</td>
                                    <td>{{ stone.quantity }}</td>
                                    <td>
                                        {% if stone.cost_piece >= 0 %}
                                            {{ stone.cost_piece }}
                                        {% else %}
                                            <a href="{% url 'lot_model_stone_default_update' lotform.instance.lot_id lot_model.model_id stone.tmstmp stone.stone_full_name 'cost_piece' %}" class="btn btn-sm btn-warning">{{ stone.cost_piece }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if stone.cost_manufacturing_stone >= 0 %}
                                            {{ stone.cost_manufacturing_stone }}
                                        {% else %}
                                            <a href="{% url 'lot_model_stone_default_update' lotform.instance.lot_id lot_model.model_id stone.tmstmp stone.stone_full_name 'cost_manufacturing_stone' %}" class="btn btn-sm btn-warning">{{ stone.cost_manufacturing_stone }}</a>
                                        {% endif %}
                                    </td>
                                  <td>
                                        {% if stone.margin_stones >= 0 %}
                                            {{ stone.margin_stones }}
                                        {% else %}
                                            <a href="{% url 'lot_model_stone_default_update' lotform.instance.lot_id lot_model.model_id stone.tmstmp stone.stone_full_name 'margin_stones' %}" class="btn btn-sm btn-warning">{{ stone.margin_stones }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ stone.price }}</td>
                                    <td>
                                        <a href="{% url 'lot_model_stone_change' lotform.instance.lot_id lot_model.model_id stone.tmstmp stone.stone_full_name %}" class="btn btn-sm btn-secondary">შც</a>
                                        <a href="{% url 'lot_model_stone_delete' lotform.instance.lot_id lot_model.model_id stone.tmstmp stone.stone_full_name %}" class="btn btn-sm btn-danger">წ</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
                <td width="10%">
                    <div class="mb-3">
                        <a href="{% url 'model_2_lot_add' lot_model.model_id lotform.instance.lot_id %}" class="btn btn-sm btn-secondary">წარმოებაში დუბლირება</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'lot_model_stone_add' lotform.instance.lot_id lot_model.model_id lot_model.tmstmp %}" class="btn btn-sm btn-primary">ქვის დამატება</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'lot_model_delete' lotform.instance.lot_id lot_model.model_id lot_model.tmstmp %}" class="btn btn-sm btn-danger">მოდელის წაშლა</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}