{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>სრული პარტია</h2>
    <a href="{% url 'lot_create' %}" class="btn btn-primary mb-3">დაამატე ახალი პარტია</a>

    <table class="table table-striped ">
        <thead>
            <tr class="table align-middle">
                <th>პარტიის N</th>
                <th>თარიღი</th>
                <th>მეტალი</th>
                <th>მასტერი</th>
                <th>სულ ბეჭდები</th>
                <th>გაყ. ბეჭდები</th>
                <th>პარტ. წონა</th>
                <th>მოდელ. წონა</th>
                <th>ფასები</th>
                <th>სულ ღირ.</th>
                <th>სულ ფასი</th>
                <th>მოგება</th>
                <th>კომენტარი</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for lot in lots %}
            <tr>
                <td><a href="{% url 'lot_update' lot.lot_id %}" class="btn btn-sm btn-primary">{{ lot.lot_id }}</a></td>
                <td>{{ lot.lot_date }}</td>
                <td>{{ lot.metal_full_name }}</td>
                <td>{{ lot.master }}</td>
                <td>{{ lot.models_count }}</td>
                <td>{{ lot.models_sold }}</td>
                <td>{{ lot.total_lot_weight|floatformat:2 }}</td>
                <td>{{ lot.total_model_weight|floatformat:2 }}</td>
                <td class="small">
                    <ul>
                        <li>დამუშავება:{{ lot.cost_grinding }}</li>
                        <li>თვლ.ჩასმა:{{ lot.cost_manufacturing_stone }}</li>
                        <li>გაპრიალება:{{ lot.cost_polishing }}</li>
                        <li>როდირება:{{ lot.cost_plating }}</li>
                        <li>სინჯი:{{ lot.cost_sinji }}</li>
                        <li>მოგ.ქვაზე:{{ lot.margin_stones }}</li>
                    </ul>
                </td>
                <td>{{ lot.total_cost|floatformat:2 }}</td>
                <td>{{ lot.total_price|floatformat:2 }}</td>
                <td>{{ lot.total_margin|floatformat:2 }}</td>
                <td>{{ lot.note }}</td>
                <td>
                    <div class="mb-3">
                        <a href="{% url 'lot_stone_totals' lot.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-info">ქვების ჯამი</a>
                        <br>
                        <a href="{% url 'transaction_create' 'ინფორმაცია' lot.lot_id %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-success">გატარებები</a>
                        <br>
                        <a href="{% url 'lot_delete' lot.lot_id %}" class="btn btn-sm btn-danger">პარტიის წაშლა</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}