{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="mb-2">
        <h2>საწყობიდან ქვების ჩამოწერა</h2>
        <br><br>
        <h4>{{ message }}</h4>
        <br>
        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">დიახ</button>
            <a href="{% url 'lot_stone_totals' lot_id %}" class="btn btn-secondary">არა</a>
        </form>
    </div>
    <div class="mb-2">
        {% for header, table in stone_table.items %}
        <div style="text-align: center;"><h3>{{ header }}</h3></div>
        <hr style="height:2px;border-width:0;color:red;background-color:red">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                    {% for row in table  %}
                        <tr>
                            {% for item in row %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
{% endblock %}