<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="{% url 'home' %}">ნინოს იუველირია</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog' %}">კატალოგი</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'lot_list' %}">წარმოება</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer_list' %}">გაყიდვები</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            გატარებები
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'transaction_type' 'ნებისმიერი' %}">ნებისმიერი გატარება</a></li>
                {% for type in transaction_types %}
                    <li><a class="dropdown-item" href="{% url 'transaction_type' type.label %}">{{ type.label }}</a></li>
                {% endfor %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            დამხმარე სიები
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'stones' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ქვები</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'metals' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">მეტალები</a></li>
            <li><a class="dropdown-item" href="{% url 'customer_list' %}">კლიენტები</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'assets' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">სხვა აქტივები</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'item_types' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">აქტივის ტიპი/დანიშნულება</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'units' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ერთეულები</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'model_categories' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">მოდელის კატეგორია</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'product_location' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">პროდუქტის მდებარეობა</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'genders' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">სქესი</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'transaction_types' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ტრანზაქციის ტიპები</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'stone_names' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ქვის სახელები</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'stone_qualities' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ქვის ხარისხი</a></li>
            <li><a class="dropdown-item" href="{% url 'lookup_table' 'masters' 'ახალი' ' ' %}?next={{ request.path|urlencode }}">ხელოსნები</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">ყველა სია</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ძებნა</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout_user' %}">სისტემიდან გამოსვლა</a>
              {% else %}
              <a class="nav-link" href="{% url 'login_user' %}">სისტემაში შესვლა</a>
              {% endif %}
          </li>
      </ul>
      <ul class="navbar-nav">
          <li>
              <a class="nav-link" href="#" id="themeToggle">ფერი</a>
          </li>
      </ul>
    </div>
  </div>
</nav>